
body{
    padding: 90px;
}
.principale{
    width:1000px;
    height: 700px;
    
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: antiquewhite;
    
}
.immagine{
   
    background-image: url(Assesst/honey.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 25%;
    width: 500px;
    height: 650px;
    margin: 30px;
}
.Testo{
    
    width: 500px;
    height: 650px;
    

}